<div class="conteneur"><br>
<h1>{{title}}</h1>
<form class="modal-content" action="/authenticated" method="post">
      <div class="container">
        <label>Username:</label>
        <input type="text" name="username"/><br/>
        <label>Password:   </label>
        <input type="password" name="password"/><br>
        <input type="submit" value="Log In" />
      </div>
    </form>
</div>
